modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DISCORD_CHANNEL_ID = "1540223568091283466"
USDT_BEP20_ADDRESS = "0x50C701EEF22Af298E95d07d02f4324d5F844876D"
USDT_ERC20_ADDRESS = "0x2789eA5Ea264bcb8CfB426d33446D2b99A6D1aDF"
USDT_TRC20_ADDRESS = "TEksDXkHWSJortCD8oL3D6CXoTQ9e9rewi"

[nix]
channel = "stable-25_05"
